<div>
    <div>

    </div>
    <div>

    </div>
</div>
<div class="card">
    <!-- Card content -->
    <div class="text-center text-primary">
        <h2>Registrar nueva venta</h2>
        <div class="container">
            <div class="md-form">
                <input type="text" id="form1" class="form-control">
                <label for="form1">DNI</label>
            </div>
            <div class="md-form">
                <input type="text" id="form1" class="form-control">
                <label for="form1">Apellidos</label>
            </div>
            <div class="md-form">
                <input type="text" id="form1" class="form-control">
                <label for="form1">Nombres</label>
            </div>
            <hr class="primary-color">


            <div class="md-form">
                <input type="text" id="form1" class="form-control">
                <label for="form1">Producto</label>
            </div>
            <div class="def-number-input number-input safari_only">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                <input class="quantity" min="0" name="quantity" value="1" type="number">
                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
            </div>
        </div>
    </div>
</div>